@(id: Long, editTripForm: Form[Trip])

@import helper._
@import helper.twitterBootstrap._

@main("Editer le parcours") {

	<h1>Editer le parcours</h1>
	
	<div id="login" class="row">
        <div class="col-md-6">
	
	 	@form(action = routes.TripController.doEditTrip(id), 'id -> "editTripForm") {
	 	
	 	<div class="form-group">
       		@inputText(editTripForm("title"), 'class -> "form-control") 
	 	</div>

        <div class="form-group">
        	@textarea(editTripForm("description"), 'class -> "form-control", 'rows -> "3")  
        </div>	
         	
        @repeat(editTripForm("itineries"), min = 1) { editItineryForm =>
       		@itineraryGroup(editItineryForm)
       	}

        @itineraryGroup(
        	editTripForm("itineries[x]"),
            className = "itinerary_template"
        )
        

        <a class="addItinerary btn btn-success">Ajouter un itineraire</a>
        
        </br></br>
        
        <input class="btn btn-primary" type="submit" value="Sauvegarder le parcours">
    	}
     	</div>
	</div>	
}

    <script type="text/javascript" charset="utf-8">
    
    	$('.addItinerary').live('click', function(e) {
        	var template = $('.itinerary_template');
        	template.before('<div class="itinerary">' + template.html() + '</div>');
            renumber();
    	})
    	
    	$('.removeItinerary').live('click', function(e) {
            $(this).parents('.itinerary').remove()
            renumber()
        })
        
        $('.removeLocation').live('click', function(e) {
            var locations = $(this).parents('.locations')
            $(this).parents('.location').remove()
            renumber(locations)
        })
        
        $('.addLocation').live('click', function(e) {
            var locations = $(this).parents('.locations')
            var template = $('.location_template')
            
            template.before('<div class="location ">' + template.html() + '</div>')
            renumber(locations)
        })        
    	
        $('#editTripForm').submit(function() {
            $('.itinerary_template').remove();
            $('.location_template').remove()
        })
    	
        var renumber = function(locations) {
            $('.itinerary').each(function(i) {
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/itineries\[.+?\]/g, 'itineries[' + i + ']'));
                })
                $('.location input', this).each(function(i) {
                    $(this).attr('name', $(this).attr('name').replace(/locations\[.+\]/g, 'locations[' + i + ']'))
                })
            })
        }
    
    </script>
    
  @itineraryGroup(field: Field, className: String = "itinerary") = { 
    <div class="@className">
    	<div class="well">   
    	 
        <a class="removeItinerary btn btn-danger pull-right">Supprimer</a>

        @inputText(
            field("title"), 
            '_title -> "title"
        )
        
        <div class="locations">
        
        	@repeat(field("locations"), min = 1) { location =>
        		@locationField(location("title"))
        	}
            
        	@locationField(
        		field("locations[x].title"),
            	className = "location_template"
        	)
		</div>
            

        <a class="addLocation btn btn-success">Ajouter une destination</a>

	</div>

   </div>
}

@locationField(field: Field, className: String = "location") = {
    @input(field, '_label -> "Location", '_class -> className) { (id, name, value, _) =>
        <input type="text" name="@name" value="@value"> 
        <a class="removeLocation btn btn-danger">X</a>
    }
}