@(id: Long, editTripForm: Form[Trip])

@import helper._
@import helper.twitterBootstrap._

@itineraryGroup(field: Field, className: String = "itinerary") = {
    <div class="@className">
        
        <a class="removeItinerary btn">Supprimer</a>

        @inputText(
            field("title"), 
            '_title -> "title"
        )
        
        <div class="locations">
        
            @repeat(field("locations"), min = 1) { location =>
                
                @locationField(location("title"))
    
            }
            
            @locationField(
                field("locations[x].title"),
                className = "location_template"
            )

            
            <div class="clearfix">
                <div class="input">
                    <a class="addLocation btn">Ajouter une location</a>
                </div>
            </div>
        
        </div>

    </div>
}

@locationField(field: Field, className: String = "location") = {
    @input(field, '_label -> "Location", '_class -> className) { (id, name, value, _) =>
        <input type="text" name="@name" value="@value"> 
        <a class="removeLocation btn">Remove</a>
    }
}

@main("Editer le parcours") {

	<h1>Editer le parcours</h1>
	
	 @form(action = routes.TripController.doEditTrip(id), 'id -> "editTripForm") {
	<fieldset>
	
        
        @inputText(editTripForm("title")) 
        
        @textarea(editTripForm("description")) 
        
        
	</fieldset>
        
    <fieldset>
            <legend>Itineraires</legend>
            
             @repeat(editTripForm("itineries")) { editItineryForm =>
        
       			@itineraryGroup(editItineryForm)
                
       		}
        

        	@itineraryGroup(
        		editTripForm("itineries[x]"),
            	className = "itinerary_template"
        	)
        
        	<div class="manage">
        		<a class="addItinerary btn">Ajouter un itineraire</a>
        	</div>
        
     </fieldset>
        
        <input class="btn btn-primary" type="submit" value="Sauvegarder le parcours">
        
    }
	
}

    <script type="text/javascript" charset="utf-8">
    
    	$('.addItinerary').live('click', function(e) {
        	var template = $('.itinerary_template');
        	template.before('<div class="itinerary">' + template.html() + '</div>');
            renumber();
    	})
    	
    	$('.removeItinerary').live('click', function(e) {
            $(this).parents('.itinerary').remove()
            renumber()
        })
        
        $('.removeLocation').live('click', function(e) {
            var locations = $(this).parents('.locations')
            $(this).parents('.location').remove()
            renumber(locations)
        })
        
        $('.addLocation').live('click', function(e) {
            var locations = $(this).parents('.locations')
            var template = $('.location_template', locations)
            template.before('<div class="location">' + template.html() + '</div>')
            renumber(locations)
        })        
    	
        $('#editTripForm').submit(function() {
            $('.itinerary_template').remove();
            $('.location_template').remove()
        })
    	
        var renumber = function(locations) {
            $('.itinerary').each(function(i) {
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/itineries\[.+?\]/g, 'itineries[' + i + ']'));
                })
                $('.location input', this).each(function(i) {
                    $(this).attr('name', $(this).attr('name').replace(/locations\[.+\]/g, 'locations[' + i + ']'))
                })
            })
        }
    
    </script>