@(loginForm: Form[_])

@import helper._

@main(Messages("apitrip.login.title"),"login") {


      <div id="login" class="row">
        <div class="col-lg-6">
          <h2>@Messages("apitrip.login.title")</h2>
     		@* Display proprietary login form *@
    		@helper.form(routes.Application.doLogin) {
        
        	@_emailPartial(loginForm)
          
        	@inputPassword(
          		loginForm("password"),
          		'_showConstraints -> false,
          		'_label -> Messages("apitrip.login.password.placeholder")
        	)
          
        <input type="submit" value="@Messages("apitrip.login.now")" class="btn btn-primary"><br/>
        <br/>
        <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("apitrip.login.forgot.password")</a>

    	}
        </div>
        <div class="col-lg-6">
          <h2>Inscription</h2>
          	<p>Cr&eacute;ez votre compte. Inscrivez-vous maintenant!

			</p>
         	<p><a class="btn btn-primary" href="@routes.Application.signup()">Inscription</a></p>
        </div>
      </div>

}