@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang().code()">
  <head>
    <title>@title</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="gooditi">
    <meta name="author" content="Florian Mousseau">
    
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
	<script src="@routes.Application.jsRoutes" defer="defer"></script>
	
    <link href="@routes.Assets.at("stylesheets/main.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
  	<nav class="navbar navbar-inverse" role="navigation">
 	 <!-- Brand and toggle get grouped for better mobile display -->
 		 <div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
     			<span class="sr-only">Toggle navigation</span>
     			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" href="@routes.Application.index()">Gooditi</a>
  		</div>

  		<!-- Collect the nav links, forms, and other content for toggling -->
  		<div class="collapse navbar-collapse navbar-ex1-collapse">

    		<ul class="nav navbar-nav navbar-right">
    		@subjectPresentOr() {
          	@defining(Application.getLocalUser(session())) { user =>
              <li><a href="@routes.Application.profile()">@Messages("apitrip.navigation.profile")</a></li>
              <li><a href="@routes.TripController.myTrips()">Mes parcours</a></li>
              <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()">@Messages("apitrip.navigation.logout")</a></li>
            }
          	}{
      			<li><a href="@routes.Application.login()">@Messages("apitrip.navigation.login")</a></li>
    		}
    		</ul>
  		</div>
	</nav>

    <div class="container">
		@content
    </div>
  </body>
</html>
