@(signupForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.signup.title"),"signup") {


      <div id="signup" class="row">
        <div class="col-md-6">
          <h2>@Messages("apitrip.signup.title")</h2>
    		@helper.form(routes.Application.doSignup) {
    	
             @inputText(
                signupForm("name"),
                '_label -> Messages("apitrip.signup.name")
             )
             
             @_emailPartial(signupForm)
             
             @_passwordPartial(signupForm)

            <input type="submit" value="@Messages("apitrip.signup.now")" class="btn btn-primary">
    		}
          
          
        </div>
      </div>
}